view {
  font-size: 80rpx;
  height: 100rpx;
  font-weight: bolder;
  line-height: 100rpx;
}
input {
  font-size: 80rpx;
  font-weight: bolder;
  height: 100rpx;
  width: 200rpx;
  text-align: center;
}